body {
  font-family: "DM Sans", sans-serif;
  margin: 0 100px;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

h2 {
  margin-bottom: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
.header__anchor {
  height: 50px;
}
.header__logo {
  height: 50px;
}
.header__heading {
  color: #901c1c;
}

.main {
  margin: 0 -100px;
}

.photographers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin: 100px 0;
}

.sorting {
  display: flex;
  column-gap: 25px;
  margin-top: 20px;
}
.sorting__label {
  font-size: 18px;
  font-weight: 700;
  align-self: center;
}
.sorting__div {
  position: relative;
  height: 56px;
  width: 170px;
}
.sorting__div::after {
  content: url(/assets/icons/angle-down.svg);
  position: absolute;
  top: 35%;
  right: 18px;
  width: 16px;
}
.sorting__div:focus-within::after {
  content: url(/assets/icons/angle-up.svg);
}
.sorting__select {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: white;
  width: 170px;
  background-color: #901c1c;
  border: none;
  border-radius: 5px;
  appearance: none;
  padding: 16px 20px;
  overflow: hidden;
  cursor: pointer;
}
.sorting__select:focus {
  padding: 0;
}
.sorting__option {
  background-color: #901c1c;
  border-top: solid 1px white;
  border-image: linear-gradient(to right, transparent 5%, white 5%, white 95%, transparent 5%) 100% 1;
  padding: 16px 20px;
}
.sorting__option:checked {
  box-shadow: 0 0 10px 100px #901c1c inset;
}
.sorting__option--no-border {
  border: none;
}

.works_display {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 95px;
  row-gap: 30px;
  margin: 60px 0;
}

.modal {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.modal__content {
  position: relative;
  top: 63px;
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}
.modal__header {
  justify-content: space-between;
  width: 100%;
}
.modal__title {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}
.modal__close {
  position: absolute;
  top: 35px;
  right: 35px;
  cursor: pointer;
}

.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
.form__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}
.form__label {
  color: #312e2e;
  font-size: 36px;
}
.form__input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-size: 36px;
}
.form__message {
  width: 100%;
  height: 170px;
  border: none;
  border-radius: 5px;
  font-size: 36px;
}

.photographer__anchor {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photographer__portrait {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.photographer__heading {
  color: #d3573c;
  font-size: 36px;
  text-align: center;
}
.photographer__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photographer__location {
  font-size: 13px;
  color: #901c1c;
}
.photographer__tagline {
  font-size: 10px;
}
.photographer__price {
  font-size: 9px;
  color: #757575;
}

.photographer-header__infos, .photographer-header__description {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.photographer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  height: 300px;
  padding: 0 50px;
}
.photographer-header__heading {
  font-size: 64px;
  line-height: 1;
  color: #d3573c;
  margin: 0;
}
.photographer-header__location {
  font-size: 24px;
  color: #901c1c;
}
.photographer-header__tagline {
  font-size: 18px;
  color: #525252;
}
.photographer-header__portrait {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}
.photographer-header__insert {
  position: fixed;
  bottom: 0;
  right: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  padding: 0 26px;
  width: 280px;
  height: 54px;
  border-radius: 5px 5px 0 0;
  background-color: #db8876;
}

.mediaCard {
  display: flex;
  flex-direction: column;
  height: 340px;
  row-gap: 4px;
}
.mediaCard__anchor {
  height: 88%;
}
.mediaCard__media {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.mediaCard__description {
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: 12%;
}
.mediaCard__title {
  margin: 0;
  font-size: 24px;
  color: #901c1c;
}
.mediaCard__likeDiv {
  display: flex;
  align-items: center;
  column-gap: 6px;
  font-size: 24px;
  color: #901c1c;
}
.mediaCard__likeIcon {
  font-style: normal;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}
.contact_button:hover, .contact_button:focus {
  background-color: #d3573c;
}

/*# sourceMappingURL=style.css.map */
