.modal-button {
  font-size: 20px;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #d3573c;
  }
}
