%flex-display {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.photographer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  height: 300px;
  padding: 0 50px;

  &__description {
    @extend %flex-display;
  }

  &__heading {
    font-size: 64px;
    line-height: 1;
    color: #d3573c;
    margin: 0;
  }

  &__infos {
    @extend %flex-display;
  }

  &__location {
    font-size: 24px;
    color: #901c1c;
  }

  &__tagline {
    font-size: 18px;
    color: #525252;
  }

  &__portrait {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
  }

  &__likes-wrapper {
    display: flex;
    align-items: baseline;
    gap: 8px;
  }

  &__likes {
    width: 46px;
  }

  &__insert {
    position: fixed;
    bottom: 0;
    right: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    padding: 0 26px;
    width: 280px;
    height: 54px;
    border-radius: 5px 5px 0 0;
    background-color: #db8876;
  }
}
