.photographer {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__portrait {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__heading {
    color: #d3573c;
    font-size: 36px;
  }
}
