.sorting {
  display: flex;
  column-gap: 25px;
  margin-top: 20px;

  &__label {
    font-size: 18px;
    font-weight: 700;
    align-self: center;
  }

  &__div {
    position: relative;
    height: 56px;
    width: 170px;
  }

  &__select {
    position: absolute;
    left: 200px;
    font-size: 18px;
    text-align: left;
    width: 170px;
    margin: 0;
    color: $no-color;
    border-radius: 5px;
    padding: 0;
    cursor: pointer;

    &:focus {
      padding: 0;
    }
  }

  &__icon {
    position: absolute;
    top: 20px;
    right: 18px;
    z-index: 3;

    &--hidden {
      display: none;
    }
  }

  &__option {
    box-sizing: border-box;
    list-style: none;
    background-color: $bg-primary-color;
    border-top: solid 1px white;
    border-image: linear-gradient(
        to right,
        transparent 5%,
        $no-color 5%,
        $no-color 95%,
        transparent 5%
      )
      100% 1;
    height: 56px;
    padding: 16px 20px;
    cursor: pointer;
    /* Chrome : avoid selection of video when option overflow on it */
    position: relative;
    z-index: 1;

    &--no-border {
      border: none;
    }

    &--top-border {
      border-top: 1px solid $bg-primary-color;
      border-radius: 5px 5px 0 0;
    }

    &--radius-border {
      border-radius: 0 0 5px 5px;
    }

    &--all-border {
      border: 1px solid $bg-primary-color;
      border-radius: 5px;
    }

    &--hidden {
      display: none;
    }
  }
}
