.sorting {
  display: flex;
  column-gap: 25px;
  margin-top: 20px;

  &__label {
    font-size: 18px;
    font-weight: 700;
    align-self: center;
  }

  &__div {
    position: relative;
    height: 56px;
    width: 170px;
  }

  &__icon {
    position: absolute;
    top: calc(50% - 9px);
    right: 18px;
    z-index: 2;

    &--hidden {
      display: none;
    }
  }

  &__select {
    position: relative;
    display: none;
    font-family: $page-fonts;
    font-size: 18px;
    text-align: left;
    width: 170px;
    color: $no-color;
    background-color: $bg-primary-color;
    border-radius: 5px;
    border: none;
    padding: 0;
    overflow: hidden;
    cursor: pointer;

    &:focus {
      padding: 0;
    }
  }

  &__categories {
    padding: 0;
    margin: 0;
  }

  &__anchor {
    color: $no-color;
    pointer-events: none;

    &:focus-visible {
      outline: none;
    }
  }

  &__option {
    list-style: none;
    background-color: $bg-primary-color;
    border-top: solid 1px white;
    border-image: linear-gradient(
        to right,
        transparent 5%,
        white 5%,
        white 95%,
        transparent 5%
      )
      100% 1;
    padding: 16px 20px;
    /* Chrome : avoid selection of video when option overflow on it */
    position: relative;
    z-index: 1;

    &--no-border {
      border: none;
    }

    &:focus-within {
      background-color: $bg-secondary-color;
    }

    &--hidden {
      display: none;
    }
  }
}
