// Page fonts
$page-fonts: "DM Sans", sans-serif;

// Colors
$bg-primary-color: #901c1c;
$bg-secondary-color: #d3573c;
$bg-tertiary-color: #db8876;

$fg-primary-color: #d3573c;
$fg-secondary-color: #901c1c;

$artiste-header-color: #fafafa;
$tagline-color: #525252;

$neutral-color: #000000;
$no-color: #ffffff;
