.lightbox {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &__container {
    position: absolute;
    top: 10vh;
    left: 30vw;
    height: 80vh;
    width: 40vw;
  }

  &__previous {
    position: relative;
    top: calc(40vh - 30px);
    left: -54px;
    color: $fg-secondary-color;
    cursor: pointer;
  }

  &__next {
    position: absolute;
    top: calc(40vh - 30px);
    right: -54px;
    color: $fg-secondary-color;
    cursor: pointer;
  }

  &__closing-cross {
    position: absolute;
    top: 0;
    right: -54px;
    color: $fg-secondary-color;
    cursor: pointer;
  }

  &__div {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
  }

  &__media {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
  }

  &__title {
    font-size: 24px;
    color: $fg-secondary-color;
  }
}
