.sorting {
  display: flex;
  column-gap: 25px;
  margin-top: 20px;

  &__label {
    font-size: 18px;
    font-weight: 700;
  }

  &__div {
    position: relative;
    height: 56px;
    width: 170px;

    &::after {
      content: url(/assets/icons/angle-down.svg);
      position: absolute;
      top: 35%;
      right: 18px;
      width: 16px;
    }

    &:focus-within::after {
      content: url(/assets/icons/angle-up.svg);
    }
  }

  &__select {
    font-family: $page-fonts;
    font-size: 18px;
    font-weight: 700;
    color: white;
    width: 170px;
    background-color: #901c1c;
    border: none;
    border-radius: 5px;
    appearance: none;
    padding: 16px 20px;
    overflow: hidden;
    cursor: pointer;

    &:focus {
      padding: 0;
    }
  }

  &__option {
    background-color: #901c1c;
    border-top: solid 1px white;
    border-image: linear-gradient(
        to right,
        transparent 5%,
        white 5%,
        white 95%,
        transparent 5%
      )
      100% 1;
    padding: 16px 20px;

    &:checked {
      box-shadow: 0 0 10px 100px #901c1c inset;
    }

    &--no-border {
      border: none;
    }
  }
}
